mac0239-ep1/ep1_gabriel_haruo_hanai_takeuchi/minisat/

**/.vscode/

# C*, assembly compiler files
*.out
*.o

# python files and directories
**/__pycache__/
**/*:Zone.Identifier

# LaTex Workshop compiling files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz